* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media screen and (max-width: 600px) {

.logo {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 20px;
    left: 30%;
}

.menuMobile {
    width: 35px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.xSalida {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    
}

.header {
    height: 200px;
    background-color: #DD5353;
}

.container-mobile {
    height: 100vh;
    width: 50%;
    background-color: #f8ecdc;
    position: absolute;
    right: 0;
    display: none;
}

.abrirNav {
    animation: abrir 1s;
}

.cerrarNav {
    animation: cerrar 1s;
}

@keyframes abrir {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* @keyframes cerrar {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    } */


.ul {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    align-content: center;
}

li {
    list-style: none;
    padding: 15px;
}

.navItem {
    color: #B73E3E;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.navLink:hover, .navItem:hover {
    transform: scale(1.1);
    
}

/* SECT 1: INICIO */

.sect1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

@keyframes inicio {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    50% {
        opacity: 0.8;
       
    }
    100% {
        opacity: 1.5;
    }
}

.textInicio {
    font-size: 2rem;
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 5px;
    border: ridge 1px red;
}

.sect1Inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: inicio 4s;
    margin: 1rem;
}

.img {
    width: 290px;
    height: 290px;
    margin:1rem;
}

.sect1Titulo {
    font-size: 1.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    padding: 7px;
}

.sect1Desc {
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.btnMas {
    width: 75px;
    height: 40px;
    background-color: red;
    color: #e2dede;
    font-weight: bold;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btnMas:hover {
    cursor: pointer;
    transform: scale(1.1);
}

}